<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="norwegiangambit.game.NGPrefpage"
            id="norwegiangambit.game.prefpage"
            name="Norwegin Gambit">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="norwegiangambit.game.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
