/******
Chess UI

***********/

#brd{border-color: gray;border-style: solid;}
#Status{color: red;}
.hdr{text-align: center;vertical-align: center;}
.wht, .blk, .enp, .ok {width: 32px; height: 32px;text-align: center;vertical-align: center;}
.wht{background-color: yellow;}
.blk{background-color: olive;}
.enp{background-color: blue;}
.ok{background-color: green;}