/******
Chess UI

***********/

.brd{border-color: gray;border-style: solid;}
.hdr{text-align: center;vertical-align: center;}
.wht{background-color: yellow;width: 40px; height: 40px;}
.blk{background-color: olive;width: 40px; height: 40px;}
.K{background-image: url("img/wk.gif");background-repeat: no-repeat;background-position: center;}
