<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="norwegiangambit.gui.swt.play"
            name="Play SWT">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="norwegiangambit.gui.swt.PlaySWT"
            commandId="norwegiangambit.gui.swt.play">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="norwegiangambit.gui.swt.toolbar">
            <command
                  commandId="norwegiangambit.gui.swt.play"
                  icon="images/swt.png"
                  id="PlaySWT"
                  label="Play SWT"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
